# Hidden files
*.DS_Store
*Thumbs.db

# editor files
.idea*

# composer vendor files
vendor/

# Token para actualizar GitHub
TokenGitHub.txt
# Imagenes en pruebas
www/galeria/fotos/*.jpg
www/galeria/fotos/*.png
www/galeria/fotos/*.gif
www/galeria/images/*.jpg
www/galeria/images/*.png
www/galeria/images/*.gif
